<h1>Add a Product</h1>
   
  <%= form_for @product, :html => { :multipart => true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.file_field :product_image %>
  <%= f.submit "Save product", class: "button" %>
<% end %> 