<h1><%= @food.name %></h1>

<h3>Calories: <%= @food.calories %></h3>

<h3>Carbs: <%= @food.carb_grams %>g</h3>

<h3>Protein: <%= @food.protein_grams %>g</h3>

<h3>Fat: <%= @food.fat_grams %>g</h3>

Add this food to a meal
