<div class="row">
  <div class="large-4 columns">
    <h1> <%= current_user.email %></h1>
    <%= image_tag @profile.avatar.url(:medium) %><br>
    <%= @profile.name %><br>
    <%= @profile.headline %><br>
    <%= @profile.twitter_handle %><br>
    <p>Here are all of your reviews:</p>
  </div>
</div>
