<h1>Edit<%= @lesson.name %></h1>

<% if @lesson.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lessons/<%= @lesson.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="name" type="text" value="<%= @lesson.name %>">
  <label for="lesson_text">Text</label>
  <input id="lesson_text" name="lesson_text" type="text" value="<%= @lesson.lesson_text %>">
  <button>Update Lesson</button>
</form>
