<h1>New Message</h1>

<% if @message.errors.any? %>
  <p>Something went wrong:</p>
  <ul>
    <% message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>      


<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.text_field :to %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.hidden_field :body, :value => "Your officemate wants a coffee! Log into CoffeeBreak to make someone's dream come true!"  %>
  <%= f.submit "Send Order", class: "button" %>
<% end %>  